<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_IDAXXGAVJYlMrrRt6gpBDhumrkQ-CbY"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <h1 id="title">MyRoute</h1>
        <nav id="navbar">
            <a href="#" class="nav-button">Nav 1</a>
            <a href="#" class="nav-button">Nav 2</a>
        </nav>
    </header>

    <div class="overlay1" id="overlay1"></div>
    <div class="popup-form1" id="popupForm1" style="display: none;">
        <a class="closeBtn" id="closeForm1" tabindex="4">
          <img src="{{ url_for('static', filename='cross.png') }}">
        </a>
        <h1>Profile</h1>
        <div class="content2">
            <img src="user-image.jpg" alt="User Image" class="user-image">
        </div>
            <div class="main-div">
                <div class="content">
                    <ul class="user-details">
                        <li><span>First Name:</span> John</li>
                        <li><span>Last Name:</span> Doe</li>
                        <li><span>Date of Birth:</span> 01/01/1990</li>
                        <li><span>Email:</span> john.doe@example.com</li>
                        <li><span>Phone Number:</span> +1 123 456 7890</li>
                        <li><span>Subscription Plan:</span> Monthly<button class="btn btn-primary ml-3" onclick="SubBox()">Change</button></li>
                    </ul>
                </div>
            </div>
          <button onclick="SignUp2()" type="submit" class="submitBtn" tabindex="3" >Logout</button>
        </form>
    </div>


    <div class="popup-form2" id="popupForm2" style="display: none;">
        <a class="closeBtn" id="closeForm2" tabindex="4">
            <img src="{{ url_for('static', filename='cross.png') }}">
        </a>
        <h1>Subscription plans</h1>
        <div class="plan" id="weekly">
            <form action="{{ url_for('choose_subscription') }}" method="POST">
                <h2>Weekly</h2>
                <p class="price">£2.99</p>
                <p class="description">(Excl. VAT)</p>
                <input type="hidden" name="subscription_plan" value="weekly">
                <button type="submit" name="submit" value="weekly">Choose</button>
            </form>
        </div>
        <div class="plan" id="monthly">
            <form action="{{ url_for('choose_subscription') }}" method="POST">
                <h2>Monthly</h2>
                <p class="price">£12.99</p>
                <p class="description">(Excl. VAT)</p>
                <input type="hidden" name="subscription_plan" value="monthly">
                <button type="submit" name="submit" value="monthly">Choose</button>
            </form>
        </div>
       
    </div>





    <script src="{{ url_for('static',filename='javascript/script.js')}}"></script>
    {% block body %} {% endblock %}
</body>

</html>