<!-- templates/display_journeys.html -->
{% extends 'base.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block navbar %}
<nav id="navbar">
    <a href="{{ url_for('list_journeys') }}" class="nav-button">Journey List</a>
    <a href="{{ url_for('upload_gps') }}" class="nav-button">Add Journey</a>
    <a href="{{ url_for('friends') }}" class="nav-button">Friends</a>
    <button class="icon-button" onclick="SignUp()"><i class="bx bx-user"></i></button>

</nav>
{% endblock %}

{% block body %}
<style>

    #totalCalories{
        width: 300px;
        height: 70px;
        border:  4px solid #ff6600;
        font-weight: 800;
        color: black;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .chartsOn{
        margin: 3%;
    }
    #totalDistance{
        width: 300px;
        height: 70px;
        border:  4px solid #ff6600;
        font-weight: 800;
        color: black;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #distanceByType{
        width: 300px;
        height: 70px;
        border:  4px solid #ff6600;
        font-weight: 800;
        color: black;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .mapOutside{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3%;
    }
    .secondOutside{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 2% 7% 2% 7%;
        border: 3px solid #a5a5a5;
        border-radius: 10px;
    }
    #map {
        height: 500px;
        /* Ensure the map has a specific height */
        width: 50%;
        border: 5px solid #ff6600;
        
        /* Full width */
    }

    #distanceTimeChart {
        width: 400px;
        /* Set the width of the canvas */
        height: 450px;
        /* Set the height of the canvas */
        border: 2px solid #ddd;
        /* Add a border around the canvas */
        background-color: #f4f4f4;
        /* Set a background color */
        display: block;
        /* Ensures the canvas is a block element */
        margin: 20px auto;
        /* Center the canvas horizontally */
    }


    #activityTypeChart {
        width: 400px;
        /* Set the width of the canvas */
        height: 225px;
        /* Set the height of the canvas */
        border: 2px solid #ddd;
        /* Add a border around the canvas */
        background-color: #f4f4f4;
        /* Set a background color */
        display: block;
        /* Ensures the canvas is a block element */
        margin: 20px auto;
        /* Center the canvas horizontally */
    }
</style>

<div class="twoBtns1">
    <button class="oneBtn" id="oneBtn1" onclick="thewindowOpen1()">Routes</button>
    <button class="oneBtn" id="oneBtn2" onclick="thewindowOpen2()">Stats</button>
</div>
<div class="mapOutside" style="display: none;" id="thewindow1">
    <div id="map"></div>
</div>

<div class="secondOutside" style="display: none;" id="thewindow2">
    <div id="stats">
        <p id="totalCalories">Total Calories: 0 kcal</p>
        <p id="totalDistance">Total Distance: 0 km</p>
        <div id="distanceByType"></div>
    </div>
    <div class="chartsOn">
        <canvas id="distanceTimeChart"></canvas>
        <canvas id="activityTypeChart"></canvas>
    </div>
</div>





<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
<!-- Include Leaflet Routing Machine -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const map = L.map('map').setView([51.505, -0.09], 13); // Adjust center as needed
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        fetch('/api/journeys')
            .then(response => response.json())  // Make sure to handle the response as JSON
            .then(journeys => {
                journeys.forEach(journey => {
                    if (journey.data && journey.data.coordinates.length > 0) {
                        const waypoints = journey.data.coordinates.map(coord => L.latLng(coord.lat, coord.lon));
                        L.Routing.control({
                            waypoints: waypoints,
                            routeWhileDragging: false,
                            showAlternatives: false,
                            router: L.Routing.mapbox('sk.eyJ1IjoidGVhbXByb2plY3QiLCJhIjoiY2x2dTA2dWo1MTVjYTJqcnJ2YzF5ZmJwdyJ9.qE-gbM3WxoYX7glO5vq0XQ'), // Replace '<your Mapbox access token>' with your actual token
                            lineOptions: {
                                styles: [{ color: getRandomColor(), weight: 4 }]
                            },
                            addWaypoints: false,
                            createMarker: function (i, waypoint, n) {
                                const marker = L.marker(waypoint.latLng).bindPopup(
                                    `<strong>Journey ID:</strong> ${journey.id}<br>
                                 <strong>Journey Name:</strong> ${journey.name}<br>   
                                 <strong>Type:</strong> ${journey.type}<br>
                                 <strong>Duration:</strong> ${parseFloat(journey.duration).toFixed(2)} hours<br>
                                <strong>Distance:</strong> ${parseFloat(journey.distance).toFixed(2)} km<br>
                                <strong>Calories Burned:</strong> ${parseFloat(journey.calories).toFixed(2)} kcal<br>
                                <strong>Average Speed:</strong> ${parseFloat(journey.speed).toFixed(2)} km/h`
                                );
                                return marker;
                            },
                            itinerary: false,

                            collapsible: true
                        }).addTo(map);

                    }
                });
            })
            .catch(error => console.error('Error fetching or processing journeys:', error));

        function getRandomColor() {
            const colors = [
                "#00429d", "#8c2981", "#fe6100", "#5d2b76", "#4cb5ae",
                "#007d34", "#c0369d", "#f13c1e", "#232c16", "#ca0147",
                "#00a9cf", "#a79d00", "#6b4423", "#e6194b", "#3cb44b"
            ];


            // Randomly pick a color from the array
            return colors[Math.floor(Math.random() * colors.length)];
        }

    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/api/journeys_stats')
            .then(response => response.json())
            .then(data => {
                document.getElementById('totalCalories').textContent = `Total Calories: ${data.total_calories.toFixed(2)} kcal`;
                document.getElementById('totalDistance').textContent = `Total Distance: ${data.total_distance.toFixed(2)} km`;

                const distanceByTypeDiv = document.getElementById('distanceByType');
                distanceByTypeDiv.innerHTML = '';
                Object.keys(data.distance_by_type).forEach(type => {
                    const p = document.createElement('p');
                    p.textContent = `${type.charAt(0).toUpperCase() + type.slice(1)} Distance: ${data.distance_by_type[type].toFixed(2)} km`;
                    distanceByTypeDiv.appendChild(p);
                });
            })
            .catch(error => console.error('Error fetching or processing journeys:', error));
    });

</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/api/journeys')
            .then(response => response.json())
            .then(data => {
                // Prepare the data for the distance over time chart
                const labels = data.map(journey => journey.name); // Use journey names as labels
                const distances = data.map(journey => journey.distance);
                const calories = data.map(journey => journey.calories);

                // Line Chart for Distance Over Time
                const ctxDistance = document.getElementById('distanceTimeChart').getContext('2d');
                const distanceTimeChart = new Chart(ctxDistance, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                label: 'Distance (km)',
                                data: distances,
                                borderColor: '#ff6600',
                                tension: 0.1
                            },
                        ]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });

                // Pie Chart for Activity Types
                const typeCounts = data.reduce((acc, journey) => {
                    acc[journey.type] = (acc[journey.type] || 0) + 1;
                    return acc;
                }, {});
                console.log('Type counts:', typeCounts);

                const ctxType = document.getElementById('activityTypeChart').getContext('2d');
                if (!ctxType) {
                    console.error('The canvas context could not be found.');
                    return;
                }
                const activityTypeChart = new Chart(ctxType, {
                    type: 'pie',
                    data: {
                        labels: Object.keys(typeCounts),
                        datasets: [{
                            data: Object.values(typeCounts),
                            backgroundColor: ['#ff6600', '#ff66005e'],
                            hoverOffset: 4
                        }]
                    }
                });
            })
            .catch(error => console.error('Error fetching or processing journeys:', error));
    });
</script>
<script>
    window.onload = function () {
        document.getElementById("oneBtn1").click();
    };
    function thewindowOpen1() {
        const window1 = document.getElementById("thewindow1");
        const window2 = document.getElementById("thewindow2");

        window1.style.display = "flex";
        window2.style.display = "none";
    }
    function thewindowOpen2() {
        const window1 = document.getElementById("thewindow1");
        const window2 = document.getElementById("thewindow2");
        window2.style.display = "flex";
        window1.style.display = "none";

    }

</script>

<script>
    const btnElList = document.querySelectorAll('.oneBtn');
    btnElList.forEach(btnEl => {
        btnEl.addEventListener('click', () => {
            document.querySelector('.special2')?.classList.remove('special2');
            btnEl.classList.add('special2');
        })
    })
</script>



{% endblock %}