<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
    <link rel="stylesheet" href="friends.css">
</head>
<body>
    <div class="container">
        <h1>Friends Page</h1>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <select>
                <option value="all">All</option>
                <option value="online">Online</option>
                <option value="offline">Offline</option>
            </select>
        </div>
        <div class="friends-list">
            <div class="friend-box">
                <div class="friend-details">
                    <h2>Name: John</h2>
                    <p>Username: johndoe1</p>
                </div>
                <button class="remove-btn">Remove</button>
            </div>
            <div class="friend-box">
                <div class="friend-details">
                    <h2>Name: </h2>
                    <p>Username: </p>
                </div>
                <button class="remove-btn">Remove</button>
            </div>
            </div>
    </div>
</body>
</html>
