{% extends "base.html" %}

{% block title %}
Friends
{% endblock %}

{% block body %}

<body>
    <div class="card">
        <div class="imgBx">
            <img src="photo.jpeg">
        </div>
        <div class="content">
            <div class="details">
                <h2>Daniel Herring<br><span>Fitness Trainer</span></h2>
                <div class="mapBx">
                    <img src="map.jpeg" alt="Map">
                </div>
                <div class="data">
                    <h3>3<br><span>Miles</span></h3>
                    <h3>26<br><span>Minutes</span></h3>
                </div>
                <div class="actionBtn">
                    <button>Follow</button>
                    <button>Message</button>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}