{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/friends.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Friends</h2>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <select>
                <option value="all">All</option>
                <option value="online">Online</option>
                <option value="offline">Offline</option>
            </select>
        </div>
        <div class="friends-list row">
            <div class="friend-box col-md-4">
                <div class="big-box">
                    <div class="img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-responsive rounded-circle" alt>
                    </div>
                    <div class="details">
                        <div class="name">
                            <a href="#">Emily Jones</a>
                        </div>
                        <div class="time online">
                            <i class="fa fa-check-circle"></i> Online
                        </div>
                        <div class="type">
                            <span class="label label-warning">Pending</span>
                        </div>
                    </div>
                    <button class="btn btn-default remove-btn">Remove</button>
                </div>
            </div>
            <div class="friend-box col-md-4">
                <div class="big-box">
                    <div class="img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-responsive rounded-circle" alt>
                    </div>
                    <div class="details">
                        <div class="name">
                            <a href="#">William Smith</a>
                        </div>
                        <div class="time online">
                            <i class="fa fa-check-circle"></i> Online
                        </div>
                        <div class="type">
                            <span class="label label-warning">Pending</span>
                        </div>
                    </div>
                    <button class="btn btn-default remove-btn">Remove</button>
                </div>
            </div>
            <div class="friend-box col-md-4">
                <div class="big-box">
                    <div class="img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-responsive rounded-circle" alt>
                    </div>
                    <div class="details">
                        <div class="name">
                            <a href="#">Olivia Brown</a>
                        </div>
                        <div class="time online">
                            <i class="fa fa-check-circle"></i> Online
                        </div>
                        <div class="type">
                            <span class="label label-warning">Pending</span>
                        </div>
                    </div>
                    <button class="btn btn-default remove-btn">Remove</button>
                </div>
            </div>
            <div class="friend-box col-md-4">
                <div class="big-box">
                    <div class="img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar4.png" class="img-responsive rounded-circle" alt>
                    </div>
                    <div class="details">
                        <div class="name">
                            <a href="#">Noah Miller</a>
                        </div>
                        <div class="time online">
                            <i class="fa fa-check-circle"></i> Online
                        </div>
                        <div class="type">
                            <span class="label label-warning">Pending</span>
                        </div>
                    </div>
                    <button class="btn btn-default remove-btn">Remove</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
