{% extends "base.html" %}

{% block title %}
Route
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<head>
    <!-- Include Leaflet Control Geocoder CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
</head>

<body>
    <h2>Add Your Journey</h2>
    <div id="map"></div>
    <form id="journeyForm">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <div>
            <input type="text" id="origin" placeholder="Origin" oninput="searchLocation(this.value, 'origin')">
            <div id="originSuggestions" class="suggestions"></div>
        </div>
        <div>
            <input type="text" id="destination" placeholder="Destination"
                oninput="searchLocation(this.value, 'destination')">
            <div id="destinationSuggestions" class="suggestions"></div>
        </div>
        <div>
            <input type="text" id="waypoints" placeholder="Add Waypoints"
                oninput="searchLocation(this.value, 'waypoints')">
            <div id="waypointsSuggestions" class="suggestions"></div>
        </div>
        <ul id="waypointsList"></ul>
        <input type="number" id="time_taken" placeholder="Time Taken (in minutes)">
        <br><br>
        <button type="button" onclick="submitJourney()">Submit Journey</button>
    </form>

    <form id="gpxUploadForm">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div>
            <label for="gpxFile">Upload GPX File:</label>
            <input type="file" id="gpxFile" name="gpxFile" accept=".gpx">
        </div>
        <button type="button" onclick="uploadGPX()">Upload Route</button>
    </form>
    <!-- Include Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- Include Leaflet Routing Machine JavaScript -->
    <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
    <!-- Include Leaflet Control Geocoder JavaScript -->
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <!-- Include your script.js file -->
    <script src="<script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
    "></script>

</body>
{% endblock %}