<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Running Web App</title>
<link rel="stylesheet" href="styles.css">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1 id="title">MyRoute</h1>
    <div id="anchor-container">
        <div class="anchor"></div>
        <div class="anchor"></div>
        <div class="anchor"></div>
    </div>
    <div id="navigation-container">
        <button class="navigation-button">Nav 1</button>
        <button class="navigation-button">Nav 2</button>
    </div>
</header>
<h2 id="subheading">Recent Routes</h2>
<main>
    <section id="map-container">
        <img src="map.jpeg" alt="Map" id="map-image">
    </section>
    <section id="image-container">
        <img src="image1.jpg" alt="Image 1" class="content-image">
        <img src="image2.jpg" alt="Image 2" class="content-image">
        <img src="image3.jpg" alt="Image 3" class="content-image">
        <img src="image4.jpg" alt="Image 4" class="content-image">
    </section>
    
</main>
<footer>
    <button id="n-button">N Button</button>
</footer>
</body>
</html>

