{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block navbar %}
<nav id="navbar">
    <a href="{{ url_for('upload_gps') }}" class="nav-button">Add Journey</a>
    <a href="{{ url_for('friends') }}" class="nav-button">Friends</a>
    <a href="{{ url_for('display_journeys') }}" class="nav-button">Home</a>
    <button class="icon-button" onclick="SignUp()"><i class="bx bx-user"></i></button>

</nav>
{% endblock %}

{% block body %}
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #9f9f9f73;
        font-weight: 600;
    }

    h2 {
        text-align: center;
    }

    .container1 {
        border-radius: 20px;
        margin-top: 2%;
        margin-bottom: 5%;
        margin-left: 5%;
        max-width: 1440px;
        height: 70vh;
        width: 90%;
        background: white;
        box-shadow: 2px 5px 10px black;
    }

    .btn-info {
        color: #fff;
        /* White text color for better contrast on darker backgrounds */
        background: linear-gradient(45deg, #ff6600, #ff1e00);
        /* Gradient background for visual interest */
        border: none;
        /* Remove border for a smoother look */
        padding: 5px 7.5px;
        /* Adequate padding for a better click area */
        border-radius: 6px;
        /* Rounded corners for a modern look */
        cursor: pointer;
        /* Cursor indicates a clickable element */
        font-size: 13px;
        /* Slightly larger font for readability */
        font-weight: bold;
        /* Bold text for emphasis */
        letter-spacing: 0.05em;
        /* Spacing out letters for better readability */
        text-transform: uppercase;
        /* Uppercase text for a more stylized appearance */
        transition: transform 0.3s, box-shadow 0.3s;
        /* Smooth transitions for interactive feedback */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        /* Soft shadow for 3D effect */
        outline: none;
        /* Remove outline to clean up focus state */
    }

    .btn-info:hover,
    .btn-info:focus {
        transform: translateY(-3px);
        /* Slight lift effect on hover */
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        /* Enhanced shadow on hover for a 'popping' effect */
        background: linear-gradient(45deg, #008cff, #33aaff);
        /* Adjust gradient for dynamic visual feedback */
    }

    .btn-info:active {
        transform: translateY(1px);
        /* Button presses down on click */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        /* Lower shadow to simulate pressing */
    }

    .btn-info2 {
        color: #fff;
        /* White text color for better contrast on darker backgrounds */
        background: linear-gradient(45deg, #ff1e00, #ff8533);
        /* Gradient background for visual interest */
        border: none;
        /* Remove border for a smoother look */
        padding: 5px 7.5px;
        /* Adequate padding for a better click area */
        border-radius: 6px;
        /* Rounded corners for a modern look */
        cursor: pointer;
        /* Cursor indicates a clickable element */
        font-size: 13px;
        /* Slightly larger font for readability */
        font-weight: bold;
        /* Bold text for emphasis */
        letter-spacing: 0.05em;
        /* Spacing out letters for better readability */
        text-transform: uppercase;
        /* Uppercase text for a more stylized appearance */
        transition: transform 0.3s, box-shadow 0.3s;
        /* Smooth transitions for interactive feedback */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        /* Soft shadow for 3D effect */
        outline: none;
        /* Remove outline to clean up focus state */
    }

    .btn-info2:hover,
    .btn-info2:focus {
        transform: translateY(-3px);
        /* Slight lift effect on hover */
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        /* Enhanced shadow on hover for a 'popping' effect */
        background: linear-gradient(45deg, #e60400, #f20b0b);
        /* Adjust gradient for dynamic visual feedback */
    }

    .btn-info2:active {
        transform: translateY(1px);
        /* Button presses down on click */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        /* Lower shadow to simulate pressing */
    }





    .thisTable td {
        text-align: center;
        text-transform: uppercase;
    }


    thead {
        position: sticky;
        top: 0;
        z-index: 1;

    }

    .thisTable th {
        text-align: center;
        padding: 5px;
        color: white;
        background: #ff6600;
        font-weight: normal;
    }

    .table-container4 {
        background: #ff660016;
        border-radius: 20px;
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
    }

    .thisTable {
        width: 100%;
        border-collapse: collapse;
    }


    .thisTable tr.odd {
        background-color: #908282;
    }
</style>

<h2>Your Journeys</h2>
<div class="part1" id="part1">
    <div class="container1">
        <div class="table-container4">
            <table class="thisTable">
                <thead>
                    <tr>
                        <th>Journey Name</th>
                        <th>Type</th>
                        <th>Distance</th>
                        <th>Duration</th>
                        <th>Details</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for journey in journeys %}
                    <tr class="horizontal-border">
                        <td>{{ journey.name }}</td>
                        <td>
                            {% if journey.type == 'running' %}
                            <i class="bx bx-run" style="font-size: 24px;"></i> {{ journey.type
                            }}<!-- Icon for running -->
                            {% elif journey.type == 'cycling' %}
                            <i class="bx bx-cycling" style="font-size: 24px;"></i> {{ journey.type
                            }}<!-- Icon for cycling -->
                            {% else %}
                            {{ journey.type }} <!-- Displays the journey type as text if no icon is available -->
                            {% endif %}
                        </td>
                        <td>{{ journey.calculate_distance() | round(2)}} km</td>
                        <td>{{ (journey.calculate_duration() * 60) | round(2) }} Minutes</td>
                        <td><a href="{{ url_for('view_journey', journey_id=journey.id) }}" class="btn btn-info btn-sm"
                                style="text-decoration: none;">Details</a></td>
                        <td>
                            <form action="{{ url_for('delete_journey', journey_id=journey.id) }}" method="post">
                                <input type="submit" value="Delete" class="btn btn-info2 btn-sm"
                                    style="text-decoration: none;">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr class="horizontal-border">
                        <td colspan="5">No journeys found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}