{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
<div id="login-box">
    <div id="login-options">
        <button class="login-option-button" onclick="selectLoginType('user')">User Login</button>
        <button class="login-option-button" onclick="selectLoginType('employee')">Employee Login</button>
    </div>
    <form id="login-form" action="{{ url_for('login') }}" method="POST" style="display: block;">
        <h2>Login Form</h2>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <label for="username" style="margin-right: 10px;">Username:</label>
            <input type="text" placeholder="Username" id="username" name="username" required>
        </div>
        <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <label for="password" style="margin-right: 10px;">Password:</label>
            <input type="password" placeholder="Password" id="password" name="password" required>
        </div>
        <button type="submit" id="login-button">Login</button>
    </form>
    <a href="{{ url_for('register') }}" id="register-button" class="button">Register</a>
</div>

<!-- Flash messages section -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashed-messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}