<!DOCTYPE html>
<html lang="en">

<body>
    <div id="searchResults">
        <h2>Search Results</h2>
        <ul>
            {% for user in users %}
            <li>
                {{ user.username }}
                {% if user.is_friend %}
                <button>Already Friends</button>
                {% elif user.can_cancel %}
                <button class="cancel-request" data-user-id="{{ user.id }}">Cancel Request</button>
                {% else %}
                <button class="send-request" data-user-id="{{ user.id }}">Request</button>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>