{% extends "base.html" %}


{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<style>
    #map {
        height: 400px;
    }
</style>

{% endblock %}

{% block body %}

<div id="map"></div>
<script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const map = L.map('map').setView([51.505, -0.09], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        fetch('/api/friends/latest-journeys')
            .then(response => response.json())
            .then(journeys => {
                journeys.forEach(journey => {
                    if (journey.coordinates && journey.coordinates.length > 0) {
                        const waypoints = journey.coordinates.map(coord => L.latLng(coord.lat, coord.lon));
                        L.Routing.control({
                            waypoints: waypoints,
                            routeWhileDragging: false,
                            showAlternatives: false,
                            addWaypoints: false,
                            router: L.Routing.mapbox('sk.eyJ1IjoidGVhbXByb2plY3QiLCJhIjoiY2x2dTA2dWo1MTVjYTJqcnJ2YzF5ZmJwdyJ9.qE-gbM3WxoYX7glO5vq0XQ'),
                            lineOptions: {
                                styles: [{ color: getRandomColor(), weight: 4 }]
                            },
                            createMarker: function (i, waypoint) {
                                return L.marker(waypoint.latLng).bindPopup(
                                    `<strong>Friend:<strong>${journey.username}<br>
                                 <strong>Type:</strong> ${journey.type}<br>
                                 <strong>Duration:</strong> ${journey.duration.toFixed(2)} hours<br>
                                 <strong>Distance:</strong> ${journey.distance.toFixed(2)} km<br>
                                 <strong>Calories:</strong> ${journey.calories.toFixed(2)} kcal<br>
                                 <strong>Speed:</strong> ${journey.speed.toFixed(2)} km/h`
                                );
                            },
                            itinerary: false,
                            collapsible: true
                        }).addTo(map);
                    }
                });
            })
            .catch(error => console.error('Error fetching or processing journeys:', error));

        function getRandomColor() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    });
</script>
{% endblock %}