{% extends "base.html" %}

{% block title %}
Subscription
{% endblock %}

{% block body %}

<a href="{{ url_for('logout') }}">Logout</a>
{% for plan in plans %}
<div class="plan" id="{{ plan.id }}">
    <form action="{{ url_for('create_checkout_session') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <h2>{{ plan.name }}</h2>
        <p class="price">{{ plan.amount }} {{ plan.currency }}</p>
        <input type="hidden" name="stripe_price_id" value="{{ plan.id }}">
        <button type="submit">Choose {{ plan.name }}</button>
    </form>
</div>
{% endfor %}
<!-- Flash messages section -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashed-messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}


{% endblock %}