.friend-box {
    margin-bottom: 20px;
}

.big-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img {
    text-align: center;
    margin-bottom: 10px;
}

.img img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.details {
    text-align: center;
}

.details .name {
    margin-bottom: 10px;
}

.remove-btn {
    margin-top: 10px;
    border: 1px solid #000000; /* Add a black border */
}

